In [1]:
list = [100, 200, 300, 400, 500]
list.reverse()

In [2]:
print(list)

[500, 400, 300, 200, 100]

In [3]:
basekt = {'apple', 'boy', 'chennai', 'apple', 'boy'}

In [5]:
print(basekt)

{'apple', 'boy', 'chennai'}

In [1]:
squares = [1, 4, 9, 16, 25]

squares

[1, 4, 9, 16, 25]

In [2]:
squares[0]

1

In [3]:
squares[-1]

25

In [4]:
squares[-3:]

[9, 16, 25]

In [5]:
squares[-4:]

[4, 9, 16, 25]

In [6]:
squares[:]

[1, 4, 9, 16, 25]

In [8]:
squares + [36, 49, 64, 81, 100]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [9]:
cubes = [1, 8, 27, 65, 125]

In [10]:
cubes[3]

65

In [12]:
cubes.append(216)

In [13]:
cubes

[1, 8, 27, 65, 125, 216]

In [14]:
cubes.append(7**3)

In [15]:
cubes

[1, 8, 27, 65, 125, 216, 343]

In [17]:
letters = ['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [18]:
letters

['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [19]:
letters[2:5]

['c', 'd', 'e']

In [20]:
len(letters)

7

In [21]:
letters.count('a')

1

In [22]:
letters.index('d')

3

In [23]:
letters.index

In [24]:
letters.reverse()

In [25]:
letters

['g', 'f', 'e', 'd', 'c', 'b', 'a']

In [26]:
letters.append('h')

In [27]:
letters

['g', 'f', 'e', 'd', 'c', 'b', 'a', 'h']

In [28]:
letters.sort()

In [29]:
letters

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']

In [30]:
letters.pop()

'h'

In [31]:
letters.pop()

'g'

In [32]:
letters.pop()

'f'

In [33]:
letters

['a', 'b', 'c', 'd', 'e']

In [36]:
#Dictionary

tel = {'jack': 4098, 'sape': 4139}

In [37]:
tel

{'jack': 4098, 'sape': 4139}

In [38]:
tel['guido'] = 4127

In [39]:
tel

{'jack': 4098, 'sape': 4139, 'guido': 4127}

In [41]:
tel['rhino']= 6509

In [42]:
tel

{'jack': 4098, 'sape': 4139, 'guido': 4127, 'rhino': 6509}

In [43]:
tel['jack']

4098

In [44]:
del tel['sape']

In [45]:
tel

{'jack': 4098, 'guido': 4127, 'rhino': 6509}

In [48]:
my_dictonary = {'username': "pras509", 'email': "pras509@gmail.com", 'location': "DAarhanga"}

In [49]:
my_dictonary

{'username': 'pras509', 'email': 'pras509@gmail.com', 'location': 'DAarhanga'}

In [51]:
print("userename", my_dictonary['username'])
print("email", my_dictonary['email'])
print("location", my_dictonary['location'])

userename pras509
email pras509@gmail.com
location DAarhanga

In [52]:
# adding key to dictonary

my_dictonary['name']= 'prashant'

In [53]:
my_dictonary

{'username': 'pras509',
 'email': 'pras509@gmail.com',
 'location': 'DAarhanga',
 'name': 'prashant'}

In [54]:
my_dictonary['name'] = 'Prashant AAnand'

In [55]:
my_dictonary

{'username': 'pras509',
 'email': 'pras509@gmail.com',
 'location': 'DAarhanga',
 'name': 'Prashant AAnand'}

In [61]:
del my_dictonary['name']

KeyError: 'name'

In [57]:
my_dictonary

{'username': 'pras509', 'email': 'pras509@gmail.com', 'location': 'DAarhanga'}

In [62]:
my_dictonary.pop('username')

'pras509'

In [63]:
print(my_dictonary)

{'email': 'pras509@gmail.com', 'location': 'DAarhanga'}

In [64]:
my_dictonary.clear()

In [65]:
my_dictonary

{}

In [66]:
name = "Prashant Aanand"

In [67]:
name.lower()

'prashant aanand'

In [68]:
name.upper()

'PRASHANT AANAND'

In [69]:
len(name)

15

In [70]:
name.capitalize()

'Prashant aanand'

In [71]:
name.isalpha()

False

In [72]:
starship = "Enterprise"

In [73]:
starship.startswith("en")

False

In [74]:
starship.endswith("rise")

True

In [75]:
txt = "i like bananas"

In [76]:
x = txt.replace("bananas", "apples")

In [77]:
x

'i like apples'

In [79]:
phrase = "the suprise is hidded here somewhere lund and we have to find it"

In [81]:
phrase.index("lund")

37

In [82]:
len(phrase)

64

In [83]:
phrase.split()

['the',
 'suprise',
 'is',
 'hidded',
 'here',
 'somewhere',
 'lund',
 'and',
 'we',
 'have',
 'to',
 'find',
 'it']

In [84]:
text = "Hello world:, Datatrained:, lund"

In [85]:
text.split(":")

['Hello world', ', Datatrained', ', lund']

In [90]:
names = "Animals","Badger", "Honey bee"

In [91]:
names

('Animals', 'Badger', 'Honey bee')

In [93]:
names.lower

AttributeError: 'tuple' object has no attribute 'lower'

In [99]:
string1 = "Becomes"
string2 = "becomes"
string3 = 'Bear'
string4 = 'bEautifil'

In [103]:
for val in string1, string2, string3, string4:
    if val.startswith('be'):
        print(val, 'yes is true')
    else:
        print(val, 'Its not true')

Becomes Its not true
becomes yes is true
Bear Its not true
bEautifil Its not true

In [104]:
for val in string1, string2, string3, string4:
    print(val.lower())

becomes
becomes
bear
beautifil

In [106]:
a = input("Enter the value")
print(len(a))

Enter the valueprashant
8

In [ ]:
range (5, 10)
a = ["Mary", "had", "a", "little", ]

In [7]:
x = int(input("Enter the number"))

if x <0:
    x = 0
    print('Negative changed to zero')
elif x ==0:
    print("its zero")
elif x ==1:
    print("its one")
else:
    print("Its more than zero")

Enter the number1
its one

In [22]:
# write a python program to find even or odd using loop function

x = range(0, 99)

for i in x:
    if i % 2 == 0:
        print(i, "Its even number")
    else:
        print(i, "its odd number")

0 Its even number
1 its odd number
2 Its even number
3 its odd number
4 Its even number
5 its odd number
6 Its even number
7 its odd number
8 Its even number
9 its odd number
10 Its even number
11 its odd number
12 Its even number
13 its odd number
14 Its even number
15 its odd number
16 Its even number
17 its odd number
18 Its even number
19 its odd number
20 Its even number
21 its odd number
22 Its even number
23 its odd number
24 Its even number
25 its odd number
26 Its even number
27 its odd number
28 Its even number
29 its odd number
30 Its even number
31 its odd number
32 Its even number
33 its odd number
34 Its even number
35 its odd number
36 Its even number
37 its odd number
38 Its even number
39 its odd number
40 Its even number
41 its odd number
42 Its even number
43 its odd number
44 Its even number
45 its odd number
46 Its even number
47 its odd number
48 Its even number
49 its odd number
50 Its even number
51 its odd number
52 Its even number
53 its odd number
54 Its even number
55 its odd number
56 Its even number
57 its odd number
58 Its even number
59 its odd number
60 Its even number
61 its odd number
62 Its even number
63 its odd number
64 Its even number
65 its odd number
66 Its even number
67 its odd number
68 Its even number
69 its odd number
70 Its even number
71 its odd number
72 Its even number
73 its odd number
74 Its even number
75 its odd number
76 Its even number
77 its odd number
78 Its even number
79 its odd number
80 Its even number
81 its odd number
82 Its even number
83 its odd number
84 Its even number
85 its odd number
86 Its even number
87 its odd number
88 Its even number
89 its odd number
90 Its even number
91 its odd number
92 Its even number
93 its odd number
94 Its even number
95 its odd number
96 Its even number
97 its odd number
98 Its even number

In [20]:
5%2

1

In [13]:
5&2

0

In [14]:
4%2

0

In [15]:
78%2

0

In [3]:
x = range(0, 99)

for i in x:
    if i == 15:break
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14

In [8]:
x = list(range(1,99))

In [15]:
total_sum = 0
for i in x:
    if i >=1:
        total_sum = total_sum + i
    print("sum is", total_sum)

sum is 1
sum is 3
sum is 6
sum is 10
sum is 15
sum is 21
sum is 28
sum is 36
sum is 45
sum is 55
sum is 66
sum is 78
sum is 91
sum is 105
sum is 120
sum is 136
sum is 153
sum is 171
sum is 190
sum is 210
sum is 231
sum is 253
sum is 276
sum is 300
sum is 325
sum is 351
sum is 378
sum is 406
sum is 435
sum is 465
sum is 496
sum is 528
sum is 561
sum is 595
sum is 630
sum is 666
sum is 703
sum is 741
sum is 780
sum is 820
sum is 861
sum is 903
sum is 946
sum is 990
sum is 1035
sum is 1081
sum is 1128
sum is 1176
sum is 1225
sum is 1275
sum is 1326
sum is 1378
sum is 1431
sum is 1485
sum is 1540
sum is 1596
sum is 1653
sum is 1711
sum is 1770
sum is 1830
sum is 1891
sum is 1953
sum is 2016
sum is 2080
sum is 2145
sum is 2211
sum is 2278
sum is 2346
sum is 2415
sum is 2485
sum is 2556
sum is 2628
sum is 2701
sum is 2775
sum is 2850
sum is 2926
sum is 3003
sum is 3081
sum is 3160
sum is 3240
sum is 3321
sum is 3403
sum is 3486
sum is 3570
sum is 3655
sum is 3741
sum is 3828
sum is 3916
sum is 4005
sum is 4095
sum is 4186
sum is 4278
sum is 4371
sum is 4465
sum is 4560
sum is 4656
sum is 4753
sum is 4851

In [16]:
s = 0
n = int(input("Enter the number"))
for i in range(1, n+1):
    s = s + i
    print("Sum is", s)

Enter the number99
Sum is 1
Sum is 3
Sum is 6
Sum is 10
Sum is 15
Sum is 21
Sum is 28
Sum is 36
Sum is 45
Sum is 55
Sum is 66
Sum is 78
Sum is 91
Sum is 105
Sum is 120
Sum is 136
Sum is 153
Sum is 171
Sum is 190
Sum is 210
Sum is 231
Sum is 253
Sum is 276
Sum is 300
Sum is 325
Sum is 351
Sum is 378
Sum is 406
Sum is 435
Sum is 465
Sum is 496
Sum is 528
Sum is 561
Sum is 595
Sum is 630
Sum is 666
Sum is 703
Sum is 741
Sum is 780
Sum is 820
Sum is 861
Sum is 903
Sum is 946
Sum is 990
Sum is 1035
Sum is 1081
Sum is 1128
Sum is 1176
Sum is 1225
Sum is 1275
Sum is 1326
Sum is 1378
Sum is 1431
Sum is 1485
Sum is 1540
Sum is 1596
Sum is 1653
Sum is 1711
Sum is 1770
Sum is 1830
Sum is 1891
Sum is 1953
Sum is 2016
Sum is 2080
Sum is 2145
Sum is 2211
Sum is 2278
Sum is 2346
Sum is 2415
Sum is 2485
Sum is 2556
Sum is 2628
Sum is 2701
Sum is 2775
Sum is 2850
Sum is 2926
Sum is 3003
Sum is 3081
Sum is 3160
Sum is 3240
Sum is 3321
Sum is 3403
Sum is 3486
Sum is 3570
Sum is 3655
Sum is 3741
Sum is 3828
Sum is 3916
Sum is 4005
Sum is 4095
Sum is 4186
Sum is 4278
Sum is 4371
Sum is 4465
Sum is 4560
Sum is 4656
Sum is 4753
Sum is 4851
Sum is 4950

In [19]:
n = 17
for i in range(1, 11, 1):
    product = n*i
    print(product)

17
34
51
68
85
102
119
136
153
170

In [21]:
[(x, x*2) for x in range(61)]

[(0, 0),
 (1, 2),
 (2, 4),
 (3, 6),
 (4, 8),
 (5, 10),
 (6, 12),
 (7, 14),
 (8, 16),
 (9, 18),
 (10, 20),
 (11, 22),
 (12, 24),
 (13, 26),
 (14, 28),
 (15, 30),
 (16, 32),
 (17, 34),
 (18, 36),
 (19, 38),
 (20, 40),
 (21, 42),
 (22, 44),
 (23, 46),
 (24, 48),
 (25, 50),
 (26, 52),
 (27, 54),
 (28, 56),
 (29, 58),
 (30, 60),
 (31, 62),
 (32, 64),
 (33, 66),
 (34, 68),
 (35, 70),
 (36, 72),
 (37, 74),
 (38, 76),
 (39, 78),
 (40, 80),
 (41, 82),
 (42, 84),
 (43, 86),
 (44, 88),
 (45, 90),
 (46, 92),
 (47, 94),
 (48, 96),
 (49, 98),
 (50, 100),
 (51, 102),
 (52, 104),
 (53, 106),
 (54, 108),
 (55, 110),
 (56, 112),
 (57, 114),
 (58, 116),
 (59, 118),
 (60, 120)]

In [23]:
fresh_fruit = ['banana', 'loganberrry', 'passionfruit']
[weapon.strip() for weapon in fresh_fruit]

['banana', 'loganberrry', 'passionfruit']

In [5]:
#break and continue
for val in "prashant":
    if val == "n":
        break
    print(val)
print("The end")

p
r
a
s
h
a
The end

In [9]:
for i in "stringexample":
    if i == "i":
        continue
    else:
        if i =="x":
            break
        print(i)
        
print("The end")

s
t
r
n
g
e
The end

In [10]:
def greet (name, msg):
    print("HEloo", 'name+', 'msg+')

In [11]:
greet ("prashant", "morning")

HEloo name+ msg+

In [13]:
def absolute_value(num):
    if num>0:
        return num
    else:
        return -num

In [14]:
absolute_value(40)

40

In [15]:
absolute_value(-509)

509

In [18]:
# write a function to multiply two numbers

def multiply(x, y):
    return x*y

In [19]:
multiply(20, 40)

800

In [20]:
multiply(200, 47874)

9574800

In [21]:
def divide(x, y):
    if x>y:
        return(x/y)
    else:
        print("Denominator is greater than numerator")

In [23]:
divide(20, 2)

10.0

In [24]:
divide(200, 20)

10.0

In [26]:
divide(509, 59)

8.627118644067796

In [27]:
divide(59, 509)

Denominator is greater than numerator

In [35]:
squares = list(map(lambda x: (x**2)**8, range(1, 9)))

In [36]:
squares

[1,
 65536,
 43046721,
 4294967296,
 152587890625,
 2821109907456,
 33232930569601,
 281474976710656]

In [38]:
def cube(x):
    return x*x**2

In [39]:
cube(3)

27

In [40]:
cube(2)

8

In [44]:
cube = list(map(lambda x: (x*x**2), range(1, 9)))

In [45]:
cube

[1, 8, 27, 64, 125, 216, 343, 512]

In [46]:
seq = [10, 2, 8, 7, 48, 47, 0, 47, 12, 39]
fil_resul = list(map(lambda x: x>4, seq))
print(list(fil_resul))

[True, False, True, True, True, True, False, True, True, True]

In [ ]:
def mulandsum(x, y):
    if x

In [2]:
def firstandlast(x):
    first = x[0]
    last = x[-1]
    if first == last:
        return True
    else:
        return False

In [3]:
firstandlast("himanshuanndasn")

False

In [4]:
firstandlast("ksdjgoaidhgok")

True

In [5]:
x = ['ramr', 'randur', 'randkurg', 'first', 'priyanship']

In [6]:
firstandlast(x)

False